body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.intro {
    background: url(/img/erika-fletcher-2Z0yN0Dhomw-unsplash.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

nav section div {
    font-size: .69rem;
    margin: 0rem .8rem;
}

nav section div a {
    color: rgb(231, 231, 231);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

nav section div a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca5800;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav section div a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title {
    font-size: 1.4rem;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-logo {
    background-image: url(/img/pngwing.com\ \(1\).png);
    width: 13vh;
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .2rem;
}

.title h2 a {
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24vh;
}

.intro-text div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text div h1{
    font-size: 3.5rem;
    color: rgb(231, 231, 231);
}

.intro-text div p{
    text-align: center;
    color: rgb(231, 231, 231);
}


/* contacto */

.intro-c {
    background-image: url(/img/erika-fletcher-2Z0yN0Dhomw-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.contact-body {
    background-color: rgba(222, 216, 234, 0.368);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.contact-title {
    font-size: 1.5rem;
}

.contact-box {
    margin: 2rem;
}

.contact-body2 {
    display: flex;
    justify-content: center;
    gap: 25rem;
}

.contact-info {
    
}

.contact-info div {
    margin-top: 3rem;
}

.contact-s {
    display: flex;
    flex-direction: column;
}

.contact-s div {
    display: flex;
    flex-direction: column;
}

.contact-s div input {
    margin: .5rem;
}