body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.intro {
    background: url(/img/erika-fletcher-2Z0yN0Dhomw-unsplash.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

nav section div {
    font-size: .69rem;
    margin: 0rem .8rem;
}

nav section div a {
    color: rgb(231, 231, 231);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

nav section div a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca5800;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav section div a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title {
    font-size: 1.4rem;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-logo {
    background-image: url(/img/pngwing.com\ \(1\).png);
    width: 13vh;
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .2rem;
}

.title h2 a {
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24vh;
}

.intro-text div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text div h1{
    font-size: 3.5rem;
    color: rgb(231, 231, 231);
}

.intro-text div p{
    text-align: center;
    color: rgb(231, 231, 231);
}


/* contacto */

.intro-c {
    background-image: url(/img/erika-fletcher-2Z0yN0Dhomw-unsplash.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.contact-body {
    background-color: rgba(222, 216, 234, 0.782);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.contact-title {
    font-size: 1.5rem;
}

.contact-box {
    margin: 2rem;
}

.contact-body2 {
    display: flex;
    justify-content: center;
    gap: 25rem;
}

.contact-info div {
    margin-top: 3rem;
}

.contact-s {
    display: flex;
    flex-direction: column;
}

.contact-s div {
    display: flex;
    flex-direction: column;
}

.contact-s div input {
    margin-top: 1rem;
    height: 1.2rem;
    border: none;
    padding: .2rem;
}

.contact-s div textarea {
    margin-top: 1rem;
    height: 3rem;
    border: none;
    padding: .2rem;
}

.contact-btn {
    cursor: pointer;
    margin-top: 1.7rem;
    padding: .5rem;
    width: 50%;
    color: white;
    background-color: #ca5800;
    border: none;
    border-radius: 1rem;
    transition: all .4s ease-in-out;
}

.contact-btn:hover {
    background-color: black;
}

#formsg {
    margin-top: 1rem;
    color: rgb(211, 74, 74);
}

.daily-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.daily-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

.daily-content a img {
    width: 63.4rem;
    height: 35.3rem;
}

.offer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.offer-box h2 {
    margin-top: 6rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.offer-cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

.offer-item1 {
    background-image: url(/img/tim-mossholder-P59xkC9zLIE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item2 {
    background-image: url(/img/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item3 {
    background-image: url(/img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item4 {
    background-image: url(/img/redd-5U_28ojjgms-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item5 {
    background-image: url(/img/kelly-sikkema-xoU52jUVUXA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item6 {
    background-image: url(/img/cdc-WCEOtVmk2VY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item7 {
    background-image: url(/img/tim-mossholder-V37iTrYZz2E-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    width: 27rem;
    height: 17rem;
}

.offer-item-all p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 90%;
}

.offer-item-all a {
    background-color: rgba(255, 217, 171, 0.535);
    font-size: 1.5rem;
    width: 100%;
    color: white;
    text-decoration: none;
}

.offer-item-all a:hover {
    text-decoration: underline;
}
