body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.intro {
    background: url();
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 44.9rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

nav section div {
    font-size: .69rem;
    margin: 0rem .8rem;
}

nav section div a {
    color: black;
    text-decoration: none;
}

.title {
    font-size: 1.4rem;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title h2 a {
    color: black;
    text-decoration: none;
}